.question {
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    background-color: #989fce;
    max-width: 400px;
}

h1 {
    color: #347fc4
}

.choice {

}

.True {
    background-color: #009c00;
}

#color_pallette {
    color: #272838;
    color: #5d536b;
    color: #7d6b91;
    color: #989fce;
    color: #347fc4;
}